*   {
    box-sizing: border-box;
}

#container  {
    margin: 150px;
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}

.gridDivs {
    background-color: rgb(230, 189, 173);
}

.gridDivs:hover {
    background-color: yellow;
  }

  /* .paint        {
      background-color: #7106d5;
  } */

  .sizeButtons, .colorButtons {
      display: flex;
      justify-content: center;
  }

  .paint {
      color: #ffffff
  }