*   {
    box-sizing: border-box;
}

#container  {
    margin: 200px;
    display: flex;
    width: 640px;
    flex-wrap: wrap;
}

.gridDivs {
    background-color: rgb(230, 189, 173);
    /* justify-content: center; */
}

/* .gridDivs:hover {
    background-color: yellow;
  } */

  .paint        {
      background-color: #7106d5;
  }